<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Create</title>
    <link rel="stylesheet" href="/images/style4.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rancho&amp;effect=anaglyph|emboss|fire|fire-animation|neon|outline|shadow-multiple|3d|3d-float"> 
</head>

<body>
    <h1 class="font-effect-fire-animation"><%- issue %></h1>
    <div id="redirect">
        <%- redirect %>
    </div>
    <br>
    <a id="home" href="/" onclick="return confirm('Are you sure you want to go back to the home page?\nYou will need to login again.');">HOME PAGE</a>
</body>

</html>
